<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".LynxApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Patra.Dark"
        tools:targetApi="31">
<!--        <activity-->
<!--            android:name=".activity_offerwall"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".BoostActivity"
            android:exported="false" />
        <activity
            android:name=".DailyGamesActivity"
            android:exported="false"
            android:theme="@style/Theme.Patra" />
        <activity
            android:name=".LoginCalendarActivity"
            android:exported="false"
            android:theme="@style/Theme.Patra" />
        <activity
            android:name=".TrustDashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.Patra" />
        <activity
            android:name=".activity_notification_settings"
            android:exported="false" />
        <activity
            android:name=".NewsFeedActivity"
            android:exported="false" />
        <activity
            android:name=".FaqsActivity"
            android:exported="false" />
        <activity
            android:name=".RewardsHubActivity"
            android:exported="false" />
        <activity
            android:name=".spinActivity"
            android:exported="false" />
        <activity
            android:name=".TermsConditionActivity"
            android:exported="false" />
        <activity
            android:name=".PrivacyPolicyActivity"
            android:exported="false"
            android:theme="@style/Theme.Patra.Dark" />
        <activity
            android:name=".KycActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileEditActivity"
            android:exported="false" />
        <activity
            android:name=".LeaderBoardActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".ReferralActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" /> <!-- Google Ads Meta Data -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1396109779371789~1339463407" />
        <meta-data
            android:name="inmobi_account_id"
            android:value="a27d4991145846658b2990c33aabf996" />

        <activity
            android:name=".splash"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Ensure MainActivity is exported -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>